.fillheight {
    min-height: 100vh;
}
.logo {
    width: 250px;
    height: 250px;
}
.image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.align-bottom {
    position: absolute;
    bottom: 0;
}
.gradient1 {
    background: linear-gradient(270deg, #00ffbd, #0081ff);
    background-size: 400% 400%;

    -webkit-animation: GradientAnimation 30s ease infinite;
    -moz-animation: GradientAnimation 30s ease infinite;
    animation: GradientAnimation 30s ease infinite;
}

.gradient2 {
    background: linear-gradient(270deg, #e7ff00, #00ff05);
    background-size: 400% 400%;

    -webkit-animation: GradientAnimation 30s ease infinite;
    -moz-animation: GradientAnimation 30s ease infinite;
    animation: GradientAnimation 30s ease infinite;
}

.gradient3 {
    background: linear-gradient(270deg, #7200ff, #ff00e4);
    background-size: 400% 400%;

    -webkit-animation: GradientAnimation 30s ease infinite;
    -moz-animation: GradientAnimation 30s ease infinite;
    animation: GradientAnimation 30s ease infinite;
}
.gradient4 {
    background: linear-gradient(270deg, #feff00, #ff0000);
    background-size: 400% 400%;

    -webkit-animation: GradientAnimation 30s ease infinite;
    -moz-animation: GradientAnimation 30s ease infinite;
    animation: GradientAnimation 30s ease infinite;
}
@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
}
.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}
.bg-white {
    background-color: #ffffff;
}

.force-top {
    z-index: 1000;
}
